/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global socialicon styles */
[class*="socialicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="socialicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.socialicon-thumb-up:before {
  content: "\f000";
}

.socialicon-thumb-down:before {
  content: "\f001";
}

.socialicon-rss:before {
  content: "\f002";
}

.socialicon-facebook:before {
  content: "\f003";
}

.socialicon-twitter:before {
  content: "\f004";
}

.socialicon-pinterest:before {
  content: "\f005";
}

.socialicon-github:before {
  content: "\f006";
}

.socialicon-path:before {
  content: "\f007";
}

.socialicon-linkedin:before {
  content: "\f008";
}

.socialicon-dribbble:before {
  content: "\f009";
}

.socialicon-stumble-upon:before {
  content: "\f00a";
}

.socialicon-behance:before {
  content: "\f00b";
}

.socialicon-reddit:before {
  content: "\f00c";
}

.socialicon-google-plus:before {
  content: "\f00d";
}

.socialicon-youtube:before {
  content: "\f00e";
}

.socialicon-vimeo:before {
  content: "\f00f";
}

.socialicon-flickr:before {
  content: "\f010";
}

.socialicon-slideshare:before {
  content: "\f011";
}

.socialicon-picassa:before {
  content: "\f012";
}

.socialicon-skype:before {
  content: "\f013";
}

.socialicon-steam:before {
  content: "\f014";
}

.socialicon-instagram:before {
  content: "\f015";
}

.socialicon-foursquare:before {
  content: "\f016";
}

.socialicon-delicious:before {
  content: "\f017";
}

.socialicon-chat:before {
  content: "\f018";
}

.socialicon-torso:before {
  content: "\f019";
}

.socialicon-tumblr:before {
  content: "\f01a";
}

.socialicon-video-chat:before {
  content: "\f01b";
}

.socialicon-digg:before {
  content: "\f01c";
}

.socialicon-wordpress:before {
  content: "\f01d";
}
